wandb/
lightning_logs/
*.pyc
__pycache/*
/checkpoints
/outputs
/outputs2
/outputs_old
/multirun
myenv.yaml
.gitignore
.gitignore
/logs
/models
*.yml
*.png
*.pyc
*.pyc
/src/flows/__pycache__
/outputs_aha
/outputssan